---
import contacts from "../content/contacts.js";
---

<footer
  class="flex items-center justify-between border-t-2 py-4 border-gray-100 dark:text-zinc-50"
>
  <section>&copy; Soubhik Sen {new Date().getFullYear()}</section>
  <section class="flex space-x-2">
    <a
      href={contacts.github.url}
      target="_blank"
      class="hover:text-teal-500 hover:dark:text-teal-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="transition"
        fill="currentColor"
      >
        <path
          d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
        ></path>
      </svg>
    </a>
    <a
      href={contacts.linkedin.url}
      target="_blank"
      class="hover:text-teal-500 hover:dark:text-teal-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="transition"
        fill="currentColor"
      >
        <path
          d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
        ></path>
      </svg>
    </a>

    <a
      href={contacts.stack.url}
      target="_blank"
      class="hover:text-teal-500 dark:hover:text-teal-300"
    >
      <svg
        viewBox="0 0 169.61 200"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        class="transition"
        fill="currentColor"
      >
        <path d="M140.44 178.38v-48.65h21.61V200H0v-70.27h21.61v48.65z"
        ></path><path
          d="M124.24 140.54l4.32-16.22-86.97-17.83-3.78 17.83zM49.7 
82.16L130.72 120l7.56-16.22-81.02-37.83zm22.68-40l68.06 57.3 
11.35-13.51-68.6-57.3-11.35 13.51zM116.14 0l-14.59 10.81 53.48 71.89 
14.58-10.81zM37.81 162.16h86.43v-16.21H37.81z"
        ></path></svg
      >
    </a>

    <a
      href={contacts.leetcode.url}
      target="_blank"
      class="hover:text-teal-500 hover:dark:text-teal-300"
    >
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        class="transition"
        fill="currentColor"
      >
        <title>LeetCode icon</title>
        <path
          d="M16.102 17.93l-2.697 2.607c-.466.467-1.111.662-1.823.662s-1.357-.195-1.824-.662l-4.332-4.363c-.467-.467-.702-1.15-.702-1.863s.235-1.357.702-1.824l4.319-4.38c.467-.467 1.125-.645 1.837-.645s1.357.195 1.823.662l2.697 2.606c.514.515 1.365.497 1.9-.038.535-.536.553-1.387.039-1.901l-2.609-2.636a5.055 5.055 0 0 0-2.445-1.337l2.467-2.503c.516-.514.498-1.366-.037-1.901-.535-.535-1.387-.552-1.902-.038l-10.1 10.101c-.981.982-1.494 2.337-1.494 3.835 0 1.498.513 2.895 1.494 3.875l4.347 4.361c.981.979 2.337 1.452 3.834 1.452s2.853-.512 3.835-1.494l2.609-2.637c.514-.514.496-1.365-.039-1.9s-1.386-.553-1.899-.039zM20.811 13.01H10.666c-.702 0-1.27.604-1.27 1.346s.568 1.346 1.27 1.346h10.145c.701 0 1.27-.604 1.27-1.346s-.569-1.346-1.27-1.346z"
        ></path>
      </svg>
    </a>

    <a
      href={contacts.hackerrank.url}
      target="_blank"
      class="hover:text-teal-500 hover:dark:text-teal-300"
    >
      <svg
        width="24px"
        height="24px"
        viewBox="-1 -1 582 486.999"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        class="transition"
        fill="currentColor"
      >
        <path d="M-1-1h582v402H-1z" fill="none"></path><path
          d="M454.843 
      141.001c-13.019-22.417-172.832-115-198.859-115-26.019 0-185.895 92.351-198.84 
      115-12.947 22.649-13.019 207.358 0 230.009 13.018 22.639 172.839 114.989 198.84 
      114.989 26 0 185.841-92.466 198.851-114.999 13.007-22.533 
      13.016-207.583.008-229.999zM309.862 398.15c-3.559 
      0-36.756-32.137-34.141-34.762.781-.78 5.625-1.328 15.768-1.644 
      0-23.564.53-61.622.844-77.553.038-1.814-.395-3.081-.395-5.256h-71.812c0 
      6.379-.412 32.523 1.232 65.479.205 4.078-1.42 5.353-5.158 
      5.335-9.102-.025-18.211-.099-27.321-.071-3.683.009-5.274-1.374-5.157-5.488.826-30.043 
      2.66-75.488-.134-191.07v-2.849c-8.688-.314-14.717-.862-15.508-1.652-2.624-2.624 
      31.032-34.76 34.581-34.76 3.558 0 36.989 32.145 34.383 34.76-.782.781-7.098 
      1.338-15.067 1.652v2.84c-2.174 23.135-1.823 71.506-2.362 
      94.686h72.107c0-4.089.351-31.212-1.077-75.145-.091-3.047.853-4.646 3.781-4.672 
      9.945-.072 19.9-.117 29.855-.055 3.108.019 4.105 1.546 4.043 4.834-3.28 
      171.861-.594 159.867-.594 188.975 7.97.315 15.112.864 15.895 1.655 2.588 
      2.615-30.205 34.761-33.763 34.761z"
        ></path>
      </svg>
    </a>

    <a
      href={contacts.gmail.url}
      target="_blank"
      class="hover:text-teal-500 hover:dark:text-teal-300"
    >
      <svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 512 512"
        focusable="false"
        width="24px"
        height="24px"
        xmlns="http://www.w3.org/2000/svg"
        class="transition"
        ><path
          d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
        ></path></svg
      >
    </a>
    <a
      href={contacts.resume.url}
      target="_blank"
      class="hover:text-teal-500 hover:dark:text-teal-300"
    >
      <svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 384 512"
        focusable="false"
        width="24px"
        height="24px"
        xmlns="http://www.w3.org/2000/svg"
        class="transition"
        ><path
          d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm64 236c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-64c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-72v8c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm96-114.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z"
        ></path></svg
      >
    </a>
  </section>
</footer>
<style></style>
